{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</head>
<body style="background: url(http://alfaservic.kz/wp-content/gallery/1/2344.jpg) no-repeat;margin:auto;">
    <h1 style="float: right">Вход на сайт</h1>
    <form style="margin-top: 100px;margin-right:-250px;float: right" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Войти">
    </form>

</body>
</html>