{% extends 'base.html'%}
{% load staticfiles %}

{% block body %}
    <div class="calculate">
      <p>Обхват груди: <input type="text" id="p1"></p>
      <p>Обхват талии: <input type="text" id="p2"></p>
      <p>Обхват бедер: <input type="text" id="p3"></p>
      <p>Ваш рост:<br/> <input type="text" id="p4"></p>
      <button id="button" onclick="show()">Посчитать</button>
      <p id="result">Результат:</p>
    </div>
{% endblock %}